/* Base */
@import '../base/_variables.css';
@import '../base/_reset.css';

/* Layout */
@import '../layout/_dashboard.css';
@import '../layout/_sidebar.css';
@import '../layout/_header.css';

/* Components */
@import '../components/_cards.css';
@import '../components/_buttons.css';
@import '../components/_forms.css';
@import '../components/_tables.css';
@import '../components/_messages.css';

/* Pages */
@import '../pages/_home.css';
@import '../pages/_login.css';
@import '../pages/_hoteles.css';

/* Utilities */